style
    | body {
    |   font-family: Arial, serif; }
    |
    | #server-error * {
    |   margin-left: auto;
    |   margin-right: auto;
    |   text-align: center; }
    |
    | #server-error code {
    |   font-size: 2em; }
