html
    head
        include includes/head
    body
        div#server-error
            div
                h1 Page not found!
            div
                code 404
            div
                h1 The page "#{url}" was not found.

