html
    head
        include includes/head
    body
        div#server-error
            div
                h1 Internal server error!
            div
                code 500
            div
                h2 Oops the server couldn't handle that.
            div
                p You might want to report this.
