div#feedcontainer
    div.postinput
        input(type=text placeholder='Post something')
        button.submitbutton Submit
    div.feeditem
        div.itemhead
            span.title Testuser
            span.handle
                a(href='#') @testuser
            span.date 23.09.19 10:07
        p.text
            | Example Test text.
            | This is a test
