div#input-login
    input(type=text placeholder='username')
    input(type=text placeholder='password')
    button.loginButton Login
    a(href="/register" )            
        | You aren´t part of greenvironment yet? - create a new account 
